<!DOCTYPE HTML>
<html>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width,
				initial-scale=1,
				maximum-scale=1.0,
				user-scalable=no' />

		<title>Vue ToDo</title>

		<link rel='stylesheet' href='css/normalize-8.0.0.css' />
		<link rel='stylesheet' href='css/styles.css' />
	</head>
	<body>

	<div id='app'>
		<section class='todoapp'>
			<header class='header'>
				<h1>{{ title }}</h1>
				<input
					class='new-todo'
					v-on:keyup.enter='createTodo'
					placeholder='What needs to be done?'
					autofocus/>
			</header>

			<!-- <button v-on:click="createTodo()">Add Item</button> -->

			<section class='main'>
				<ul class='todo-list'>

					<li
						v-for='todo in todos'
						:class='{
							completed: todo.isDone,
							editing: todo === editing }'>

						<div class='view'>
							<input
								type='checkbox'
								class='toggle'
								v-model='todo.isDone'>
							<label @dblclick='startEditing(todo)'>
								{{ todo.text }}
							</label>
							<button
								class='destroy'
								@click='destroyTodo(todo)'>
							</button>
						</div>

						<input
							class='edit'
							@keyup.esc='cancelEditing'
							@keyup.enter='finishEditing'
							@blur='finishEditing'>
					</li>

				</ul>
			</section>

			<footer class='footer'>
				<span class='todo-count'>
					<strong>{{ activeTodos.length }}</strong>
					item(s) left
				</span>
				<button
					class='clear-completed'
					v-show='completedTodos.length'
					@click='clearCompleted'>
					Clear completed
				</button>
			</footer>
		</section>

		<footer class='info'>
			<p>Double-click to edit a todo</p>
			<p>Esc to cancel edit</p>
			<p>Enter to a exit edit mode</p>
		</footer>
	</div>

	<!-- Scripts -->
			<script type='text/javascript' src='js/vue-2.5.17.js'></script>
			<script type='text/javascript' src='js/jquery-3.3.1.min.js'></script>
			<script type='text/javascript' src='js/script.js'></script>

	</body>
</html>